/* Document */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Header */

/* Sobre */

/* Carrossel */

/* Receitas */

/* Contato */

.contact {
    background-color: #00672F;
}

.contact__border {
    width: 100%;
}

.contact__box {
    text-align: center;
}

.contact__box_title {
    font-size: 36px;
    font-family: 'Lobster', cursive;
    color: #ffffff;
    margin-top: 70px;
}

.contact__box_form {
    margin: 20px;
}

#name {
    margin-right: 20px;
}

.contact__box_form input {
    background: #3F9566;
    opacity: 0.5;
    border-radius: 4px;
    width: 100%;
    margin: 10px 0;
    padding: 20px 0;

}

.contact__box_form textarea {
    background: #3F9566;
    opacity: 0.5;
    border-radius: 4px;
    width: 100%;
    margin: 10px 0;
    padding: 20px 0;
    height: 150px;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
}

.contact__box_button {
    text-align: center;
}

.contact__box_button-send {
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    line-height: 25px;
    color: #3F9566;
}

hr {
    width: 100%;
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.contact__box_redes-sociais {}

.fab {
    color: #00672F;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-right: 20px;
}

.contact__box_redes-sociais-tiktok {
    width: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #00672F;
}


/* Footer */

/* Media Screen para Celular */
@media screen and (min-width: 600px) {

    .contact__box_form {
        margin: 20px 90px;
    }

    .contact__box_name-email {
        display: flex;
        width: 100%;
    }

    .contact__box_form input,
    textarea {
        width: 100%;
    }

    .contact__box_button {
        text-align: end;
    }

    .contact__box_button-send {
        width: 120px;
        background: #FFFFFF;
        border-radius: 4px;
        padding: 10px 20px;
        font-family: 'Lobster', cursive;
        font-size: 20px;
        line-height: 25px;
        color: #3F9566;
    }

    .contact__box_title {
        font-size: 40px;
    }
}

/* Media Screen para Tablet */
@media screen and (min-width: 1025px) {
    .contact__box_form {
        margin: 20px 250px;
    }
}